.component {
  width: 350px;
  height: 150px;

  background-color: #eee;
  
  border-radius: 8px;
  border: 2px solid #999;
}

.card {
  height: 100%;
  padding: 15px;

  background-color: #fff;

  box-sizing: border-box;

  border-radius: 16px;
  border: 10px solid #eee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fact {
  size: 30px;
  letter-spacing: -0.6;
}